.about-me {
    background-color: #605196;
    padding-top:0px;
  }
  
  .about-me .icon {
    text-align: center;
    margin-top:-2em;
  }
  
  .about-me .icon img {
    width: 240px;
    margin-top: 0;
  }

  .about-me .motto{
    margin-top: -3em;
  }

  .about-me .card {
      padding:5px;
      border-radius:0px;
  }

  .about-me h4{
  font-weight: 800;
  }

  
  .about-me h6,h4{
    color:#fff
  }
  .cocon h6,h4{
    margin-top:15px
  }
  .about-me h6,h4,
  h6 {
    margin-top: 5px;
    text-align: center;
  }
  