.contact-us{
    margin-top:10px
}
.contact-us .bg{
    background: url("../icons/contact.jpg") no-repeat;
  height: 350px;
  width: 100%;
  background-size: cover;
}

.contact-us .contact-label{
    margin-top:-5em;
    
}

.contact-us .contact-label .card{
    max-height:430px;
    padding: 10px;
    margin:5px;
    text-align:center
}

.contact-us .contact-label .card h5{
    font-weight: 600;
}

.contact-us .contact-label .card h4{
  font-weight: 800; 
  color:#605196
}