.search-bar{
    margin-top:.8em;
}

.search-bar .colored-line{
    background-color: #605196;
    width:5px;
    margin-left:2px;
}
.search-bar .p-button{
  background-color:#fff!important;
  outline:none!important;
  border-color:#bbb;
  height:35px!important;
  border-left:0;
  color:#212121;
  box-shadow: none!important;
}
.search-bar .p-button:hover,
.search-bar .p-button:focus,
.search-bar .p-button:active{
    outline:none!important;
    color:#212121!important;
    border-color:#bbb!important;
    box-shadow: none!important;
}

.search-bar input:hover,
.search-bar input:focus,
.search-bar input:active{
    outline:none!important;
    border-color:#bbb!important;
    box-shadow: none!important;
}
