@font-face {
  font-family: "Andika";
  src: url(./font/Andika.ttf) format("truetype");
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
textarea,
button {
  font-family: "Andika", sans-serif !important;
}

body{
  /*background-color:#f7f7f7!important; */
  /*background-color: #f7f7f7;
  eaf0f6 card
  c8d1d9 later
  d9d2f4 card
  9981f0 letter
  background-color: #f2f2f2;*/
}


.alert {
  font-family: "Andika", sans-serif !important;
  transition: background-color 3s ease-in, opacity 2s ease-out;
}

a{
  text-decoration: none!important;
  color: #212121!important;
}
a:hover{
  text-decoration: none!important;
}

a p{
  text-decoration: none!important;
  color: #fff!important;
}

::-webkit-input-placeholder {
  /* Edge */
  position: relative;
  left: 0.2em;
  font-size: 16px;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  position: relative;
  left: 0.2em;
  font-size: 16px;
}

::placeholder {
  position: relative;
  left: 0.2em;
  font-size: 16px;
}

.footer {
  overflow-x: hidden;
}

.logo{
  margin-top:1px;
}

.logo img{
  width:70px;
}

.footer_margin {
  margin-top: 20px;
}

@keyframes ui-progress-spinner-color {
  100%,
  0% {
      stroke: #605196;
  }
  40% {
      stroke: #0057e7;
  }
  66% {
      stroke: #0b429b;
  }
  80%,
  90% {
      stroke: #605196;
  }
}

.btn {
  background-color:  !important;
  font-family: "Andika", sans-serif;
  color: #fff !important;
}

.hamburger {
  background-color: transparent;
  position: relative;
  top:3px
}

.hamburger:focus,
.hamburger:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn img {
  float: right;
  width: 14.5px;
  margin-top: 3px;
}

input,
textarea,
button {
  width: 100%;
}


.header{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #fff;
  height:60px; 
  left:270px;
  top: 0; /* Stay at the top */
  right:0;
  position: fixed; /* Stay in place */
  z-index: 5; /* Stay on top */
}
.header .header-controller{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header-Mob{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: #fff;
  height:60px; 
  left:0px;
  top: 0; /* Stay at the top */
  right:0;
  position: fixed; /* Stay in place */
  z-index: 5; /* Stay on top */
}
.header-Mob .header-controller{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sideNavMenu {
  width: 260px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top:0; /* Stay at the top */
  left: 0;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  padding: 0; /* Place content 60px from the top */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


.sideNavMenu:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  overflow-y: auto;
}

.p-sidebar-left{
 overflow-y: hidden;
 width:255px!important;
  padding:0px!important;
}

.p-sidebar-left:hover{
  overflow-y: auto;
}



.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.activity-list {
  width: 320px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 65px; /* Stay at the top */
  height: calc(100% - 65px);
  right: 0;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  padding-top: 0px; /* Place content 60px from the top */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.activity-list:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  overflow-y: auto;
}
ul{
  padding: 0;
}

#main {
  transition: margin-left .5s;
  transition: margin-right .5s;
  margin-top: 65px;
  margin-left:260px;
  margin-right: 320px;
  z-index: 0;
  padding: 20px;
}

#mainSm {
  transition: margin-right .5s;
  margin-top: 65px;
  margin-left:260px;
  margin-right:0px;
  z-index: 0;
  padding: 20px;
}

#mainM {
  transition: margin-left .5s;
  margin-top: 65px;
  margin-left:0px;
  margin-right:0px;
  z-index: 0;
  padding: 20px;
}


.right-icon{
  float:left
}

.btn .left_icon {
  float: left !important;
}
.footer p {
  color: #212121;
}
.header .log img{
  width:50px;
}
